<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather+Sans:ital@1&family=Overpass&family=Pacifico&display=swap" rel="stylesheet"> <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <nav class="navbar navbar-default">
    <div class="">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">JOURNAL </p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="homeLink"><a href="/">HOME</a></li>
          <li id="aboutLink"><a href="/about">ABOUT US</a></li>
          <li id="contactLink"><a href="/contact">CONTACT US</a></li>
          <li id="myProjects"><a href="/projects">MY PROJECTS</a></li>

        </ul>
      </div>
    </div>
  </nav>

<body>
 