<%- include("partials/header");  %>

<div class="projects container">
    <h1 class="projectHeading">Thanks for showing interest in my projects :) </h1>
</div>
<div class="templates container">
    <div class="first">
        dsdasdsffdsfdsfdsf
    </div>
    <div class="second">
        sadasddsfdsfdsf
    </div>
    <div class="third">
        asdassdfdsfdf
    </div>
    <div class="fourth">
        sadassdfdsfdsf
    </div>
</div>